
// Formatting for space
.hover {
    &:hover {
		color: $accent-color;
    }
    cursor: pointer;
}

// Accordion
.hide {
    display: none!important;
}
.show {
    display: block!important;
    padding-bottom: 5px;
}